#all-my-content {
  height: 900px;
}

#projects-list {
  float: left;
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

#project-info-container {
  float: left;
  width: 74%;
  height: 100%;
  overflow-y: auto;
}

#project-info-container p {
  margin: 10px;
}

#project-list-header {
  font-size: 30px;
}

#screenshot {
  display: block;
  margin: auto;
}

.project-name {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
}

.view-others {
  padding-left: 90px;
}
